<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="navbar-color mat-elevation-z8 p-0" fxLayout="row" fxLayoutAlign="start stretch">

    <button mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="/" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="pl-3">
      <span fxHide fxShow.xs>Жобалық-модульдік әдістеме</span>
      <span fxHide fxShow.sm>Жобалық-модульдік әдістеме</span>
      <span fxHide fxShow.md>Жобалық-модульдік әдістеме</span>
      <span fxHide fxShow.lg>Жобалық-модульдік әдістеме</span>
      <span fxHide fxShow.xl>Жобалық-модульдік әдістеме</span>
    </div>

    <span fxFlex></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/login" routerLinkActive="router-link-active no-border">Кіру</button>
      <button mat-button routerLink="/contactUs" routerLinkActive="router-link-active no-border">Байланыс</button>
      <div style="margin-top: 13px">
      <a class="mat-button" href="https://portal.kundelik.kz" target="_blank" routerLinkActive="router-link-active no-border">Kundelik.kz</a>
      </div>
    </div>
  </mat-toolbar>

  <mat-drawer-container fxFlex autosize class="background">
    <mat-drawer #drawer>
      <div fxLayout="column">

        <button mat-button routerLink="/engineering"  routerLinkActive="selected no-border txt-bold"
                fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter</mat-icon>STEM</button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="#"  routerLinkActive="selected no-border txt-bold"
                fxLayoutAlign="start" class="py-2 pr-5">
          <mat-icon class="mr-2">filter</mat-icon>Кітаптар</button>
        <mat-divider></mat-divider>

        <button mat-button fxLayoutAlign="start" class="py-2 pr-5" (click)="logOut()">Шығу</button>
        <mat-divider></mat-divider>
      </div>
    </mat-drawer>

    <div style="display: inline;">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>
