
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="col-12">
  <div class="w3-panel w3-pale-green">
    <div class="card-body">
      <h2 class="card-title">STEM</h2>
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</div>


<div style="margin-top: 200px; margin-left: 50px" class="row">


  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/imgs/engin.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: greenyellow">Мақсаты</h5>
        <p class="card-text">Ғылыми-зерттеу жұмыстарын жүргізу,
          техникалық тапсырмаларды жобалау жөніндегі үсыныстарды және өнеркәсіптік,
          басқа да нысандар құрылысының техникалық-экономикалық негіздемелерін жасау.</p>
        <div><a routerLink="/engin" class="btn btn-primary pull-right">Инжиниринг</a></div>
      </div>
    </div>
  </div>

  <div class="col-3" >
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/imgs/prog.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: greenyellow">Мақсаты</h5>
        <p class="card-text">Бағдарламалау — нақты бағдарлама құрылымын жасап, оның мәліметтерін кодтап жазып,
          оны құрастыру істері де кіреді.</p>
        <div><a routerLink="/programming" class="btn btn-primary pull-right">Бағдарламалау</a></div>
      </div>
    </div>
  </div>

  <div class="col-3" >
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/imgs/robot.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: greenyellow">Мақсаты</h5>
        <p class="card-text">Робототехника роботтардан басқа автоматтандырылған техникалық жүйелер мен өндірістік үдерістердің ең жаңа техникалық
          жиынтықталуын әзірлеу мен қолдану жолдарын зерттейтін ғылым.</p>
        <div><a routerLink="/robotics" class="btn btn-primary pull-right">Робототехника</a></div>
      </div>
    </div>
  </div>

  <div class="col-3" >
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/imgs/3d.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="color: greenyellow">Мақсаты</h5>
        <p class="card-text">3D модельдеу — үш өлшемді нысан жасау. Яғни кез-келген
          заттардың үш өлшемдік нұсқа ретінде өңдеу.</p>
        <div><a routerLink="/modeling" class="btn btn-primary pull-right">3D Модельдеу</a></div>
      </div>
    </div>
  </div>
</div>
