<div class="container">
  <div style="text-align:center">
    <h2>Бізбен байланыс</h2>
    <p>Бізге хабарлама қалдырыңыз:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="/assets/imgs/1.png" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">Аты</label>
        <input type="text" id="fname" name="firstname" placeholder="есіміңіз..">
        <label for="lname">Тегі</label>
        <input type="text" id="lname" name="lastname" placeholder="тегіңіз..">
        <label for="country">Қалаңыз</label>
        <select id="country" name="country">
          <option value="australia">Астана</option>
          <option value="canada">Алматы</option>
          <option value="usa">Шымкент</option>
        </select>
        <label for="subject">Сұрағыңыз</label>
        <textarea id="subject" name="subject" placeholder="Жазыңыз.." style="height:170px"></textarea>
        <input type="submit" value="Жіберу">
      </form>
    </div>
  </div>
</div>
