<div>
  <textarea class="form-control" name="message" id="" [(ngModel)]="thesis" cols="30" rows="10"></textarea>

  <div class="form-group col-md-12">
    <div class="pull-right form-group">
      <button type="button" class="btn btn-danger" style="margin-left: 10px" routerLink="/">
        Артқы бет
      </button>
    </div>

    <div class="form-group pull-right">
      <table class="styled-table">
        <thead>
        <tr>
          <th>PDF форматта жүктеу</th>
          <th>PPTX форматта жүктеу</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td> <button type="button" class="btn btn-primary">
            файлды жүктеу
          </button> </td>
          <td> <button type="button" class="btn btn-primary">
            файлды жүктеу
          </button> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
